body {
    background-color: #14110F;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.wrapper{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../photos/09-night.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navigation {
    display: flex;
    justify-content:space-between;
    font-size: 200%;
    margin-right: auto;
    margin-left: auto;
    
}
.navigation a{
    color:#bcaa99;
    text-decoration:underline;
    font-family:serif;
    font-style: oblique;
    
    
    
}
.navigation img{
    width:7%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.Hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    height: 20vh;
    color: #bcaa99;
    width: 100vw;
    height: 100vh;
    font-family:serif;
    font-size: 200%;

 
    
}
.about-us{

    color:#ad9c86;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    font-style: oblique;


}
button{
    border-radius: 20px;
    background-color: #bcaa99;
    color: white;
    font-size: 20px;
    padding: 10px
}
.about{
    width: 100vw;
    height: 50vh;
    background-color: #14110F;

}

.information-container{
    min-width: 100vw;
    min-height: 60vh;
    margin:20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.information-hotel img{
    width: 80%;
    height: auto;
}
.information-wrapper{
    display: flex;
    
}
.information-hotel{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ad9c86;
    font-family:'Times New Roman', Times, serif;
    font-size: 115%;
    font-style: oblique;
}
footer{
    display: flex;
    flex-direction: column;
    border-style:groove;
    justify-content: space-between;
    color: #bcaa99;
    justify-content: center;
    font-size: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    
}
.Contact{
    width: 100vw;
    height: 100vh;

}
.contact-container{
    
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-self:center;
    text-align: center;
    border-style: groove;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    color: #bcaa99;
    
    
}
.room-container{
    min-width: 100vw;
    min-height: 60vh;
    margin:50px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    
    }
    .room img{
        width: 85%;
        height: auto;
    }

    .information-room {
        color: #ad9c86;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 200%;
        font-style: oblique;
    }
    .room-container{
        min-width: 100vw;
        min-height: 60vh;
        margin:20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin:2%;
        
        
        
        }

        .information-room {
 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ad9c86;
            font-family:'Times New Roman', Times, serif;
            font-size: 120%;
            font-style: oblique;
            }


            @media screen and  (max-width: 768px) {
                .navigation {
                    display:flex;
                    flex-direction: column;
                    max-width: 100%;
                    max-height: 100%;
                    font-size: 150%;
                    
                }
                .Hotel {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;
                    font-size: 150%;

                }
                .about-us {
                    display: flex;
                    
                }
                }
            